@font-face {
    font-family: "logo" ;
    src: url(../fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: "regular" ;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "bold" ;
    src: url(../fonts/Poppins-Bold.ttf);
}